
.four {
    padding: 0 7.5vw;
    padding-top: 15vh;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15vh;
    overflow: hidden;
}

.four-content {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.four-textbox {
    align-items: center;
    text-align: center;
}

.four-content-row {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.four-content-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    border-radius: 15px;
    background-color: transparent;
}

.four-content-item-box {
    display: flex;
    flex-direction: column;
    color: white;
}

.four-number {
    display: flex;
}

.four-divider {
    height: 30vh;
    width: 1px;
    background-color: #ffffff35;
}

@media (max-width: 768px) {


.four {
    padding: 0 5vw;
    padding-top: 25vw;
    height: fit-content;
    gap: 25vw;
    overflow: hidden;
}

.four-content {
    gap: 5vw;
    overflow: hidden;
}

.four-textbox {
    padding: 0 10vw;
}

.four-content-row {
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
    overflow: hidden;
}

.four-content-item {
    width: 100%;
    height: 25vw;
    background-color: rgba(255, 255, 255, 0.075);
}

.four-divider {
    height: 1px;
    width: 100%;
    display: none;
}

}