
.one {
    height: 125vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 30vh;
    overflow: hidden;
    pointer-events: all;
}

.one-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: center;
    color: white;
    gap: 15vh;
}

.one-content-textbox {
    display: flex;
    flex-direction: row;
    padding-left: 4vw;
    align-items: center;
    gap: 1.5vw;
}

.one-image {
    width: 100%;
    height: 70vh;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
}

.one-image-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.one-gradient-background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #010101 100%);
    z-index: 1;
}

.one-image-trigger {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100vh;
}

.one-content-typewriter {
    width: fit-content;
    height: 11vh;
    display: flex;
    position: relative;
    transition: width 0.3s ease;
}

.one-content-text-none {
    display: none;
}

.one-item-changing-text {
    position: relative;
    pointer-events: none;
    width: 34vw;
    height: 15vh;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    user-select: none;
}

.one-item-changing-text.one-item-changing-text-animate {
    animation: rotateText 11s infinite ease-in-out;
}

@keyframes rotateText {
    0%, 18% {
        transform: rotateX(0deg);
        animation-timing-function: ease-in-out;
    }
    25%, 43% {
        transform: rotateX(90deg);
        animation-timing-function: ease-in-out;
    }
    50%, 68% {
        transform: rotateX(180deg);
        animation-timing-function: ease-in-out;
    }
    75%, 93% {
        transform: rotateX(270deg);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: rotateX(360deg);
        animation-timing-function: ease-in-out;
    }
}

.one-item-changing-text span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#434343, #535353);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 7.5vw;
    margin: 0;
    font-weight: 600;
    line-height: 100%;
    transform-style: preserve-3d;
}

.one-item-changing-text-1 {
    --i: 0;
    transform: rotateX(calc(90deg * var(--i))) translateZ(7.5vh);
}

.one-item-changing-text-2 {
    --i: 1;
    transform: rotateX(calc(90deg * var(--i))) translateZ(7.5vh);
}

.one-item-changing-text-3 {
    --i: 2;
    transform: rotateX(calc(90deg * var(--i))) translateZ(7.5vh);
}

.one-item-changing-text-4 {
    --i: 3;
    transform: rotateX(calc(90deg * var(--i))) translateZ(7.5vh);
}

.one-item-changing-text:last-child span {
    background: #010101;
    color: #4caeff;
}

@media (max-width: 768px) {


.one {
    height: 225vw;
    width: 100%;
    padding-top: 42.5vw;
    overflow: hidden;
}

.one-content {
    width: 100%;
    height: fit-content;
}

.one-content-textbox {
    flex-direction: column;
    padding-left: 0;
    gap: 2.5vw;
    height: fit-content;
    padding: 5vw 2.5vw;
}

.one-image {
    height: 125vw;
}

.one-image-trigger {
    top: 210vw;
    height: 100vw;
}

.one-item-changing-text {
    width: 90vw;
    height: 15vw;
}

.one-item-changing-text span {
    justify-content: center;
    font-size: 15vw;
    font-weight: 600;
    margin: 0;
    line-height: 100%;
    overflow: hidden;
}

.one-item-changing-text-1 {
    --i: 0;
    transform: rotateX(calc(90deg * var(--i))) translateZ(7.25vw);
}

.one-item-changing-text-2 {
    --i: 1;
    transform: rotateX(calc(90deg * var(--i))) translateZ(7.25vw);
}

.one-item-changing-text-3 {
    --i: 2;
    transform: rotateX(calc(90deg * var(--i))) translateZ(7.25vw);
}

.one-item-changing-text-4 {
    --i: 3;
    transform: rotateX(calc(90deg * var(--i))) translateZ(7.25vw);
}

.one-item-changing-text:last-child span {
    background: #010101;
    color: #4caeff;
}

}