/* 7 */

.seven {
    padding: 0 7.5vw;
    padding-top: 0vh;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    overflow: visible;
}

.seven-mobile {
    display: none;
}

.seven-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: visible;
    padding-top: 15vh;
}

.seven-content-row {
    display: flex;
    flex-direction: row;
    gap: 2.5vw;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.seven-border {
    height: 235vh;
    width: 1px;
    background-color: #ffffff35;
    margin-top: 5vh;
}

.seven-content-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding-top: 5vh;
}

.seven-content-left-imagebox {
    width: 100%;
    height: 75vh;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.seven-image {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.seven-content-right {
    position: sticky;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5vh;
    padding-top: 0;
}

@media (max-width: 768px) {

/* 7 */

.seven {
    display: none;
}

.seven-mobile {
    height: fit-content;
    width: 100%;
    padding: 0;
    gap: 2.5vw;
    display: flex;
}

.seven-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    padding-top: 25vw;
    gap: 5vw;
    overflow: hidden;
}

.seven-mobile-subtitle {
    text-align: center;
}

.seven-mobile-carousel {
    overflow: hidden;
    width: 100%;
    display: flex;
    height: fit-content;
}

.seven-mobile-row {
    display: flex;
    gap: 2.5vw;
    width: 100%;
}

.seven-mobile-item-padding {
    flex: 0 0 2.5vw;
    min-width: 0;
}

.seven-mobile-item {
    flex: 0 0 85vw;
    min-width: 0;
    height: 125vw;
    padding: 10vw;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.075);
}

.seven-mobile-item-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    gap: 2.5vw;
}

.seven-mobile-item-imageframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
    background-color: white;
}

.seven-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.seven-mobile-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
}

.seven-mobile-bottom-buttons {
    display: flex;
    gap: 2.5vw;
}

.embla__progress {
    border-radius: 999px;
    /* box-shadow: inset 0 0 0 0.2rem aqua; */
    background-color: rgba(255, 255, 255, 0.075);
    position: relative;
    height: 1vw;
    justify-self: flex-end;
    align-self: center;
    width: 50vw;
    max-width: 90%;
    overflow: hidden;
  }
  .embla__progress__bar {
    background-color: white;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: -100%;
  }

}