/* 9 */

.nine {
    padding: 0 7.5vw;
    height: fit-content;
    position: relative;
    overflow: hidden;
    padding-top: 15vh;
}

.nine-mobile {
    display: none;
}

.nine-content {
    display: flex;
    flex-direction: row;
    gap: 10vw;
    padding: 15vh 0;
    padding-bottom: 7.5vh;
}

.nine-content-left {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15vh;
}

.nine-content-left-bottom {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.nine-content-left-item {
    display: flex;
    flex-direction: column;
    gap: 1vh; 
}

.nine-content-left-item-column {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.nine-content-left-item-column-text {
    display: flex;
    line-height: 110%;
    text-decoration: none;
    color: #ffffff35;
}

.nine-content-right {
    width: 70%;
}

.form-divider {
    width: 100%;
    height: 1px;
    background-color: #ffffff35;
}

input {
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 10vh;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    font-size: 1.5vw;
    margin: 0;
    padding-left: 1vw;
    font-weight: 300;
    line-height: 110%;
    color: white;
    border-bottom: 1px solid #ffffff35;
    transition: border-color 0.3s;
}

input:focus {
    outline: none;
    border-color: #4caeff;
  }

input::placeholder {
    color: #ffffff35;
}

.form-button {
    width: 100%;
    height: 2.75vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0.5vw;
    border-radius: 999px;
    cursor: pointer;
    position: relative;
    border: none;
    background-color: white;
    color: #010101;
    margin-top: 4vh;
}

@media (max-width: 768px) {
    
/* 9 */

.nine {
    display: none;
}

.nine-mobile {
    display: flex;
    flex-direction: column;
    padding: 0 5vw;
    padding-top: 25vw;
    padding-bottom: 10vw;
    height: fit-content;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.nine-content {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    padding: 0;
    height: fit-content;
}

.nine-content-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    padding: 0;
    height: fit-content;
}

.form-mobile-text-center {
    text-align: center;
}

.form-divider {
    width: 100%;
    height: 1px;
    background-color: #ffffff35;
}

input {
    height: 20vw;
    font-size: 5vw;
    padding-left: 2.5vw;
}

.form-button {
    height: 7.5vw;
    padding-right: 2.5vw;
    margin-top: 5vw;
}

.form-contact-box {
    width: 100%;
    height: fit-content;
    padding: 10vw;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.075);
}

.form-contact-box {
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
}

.form-contact-box-content {
    display: flex;
    flex-direction: column;
    gap: 2.5vw;
}

.nine-content-left-item-column {
    gap: 1vw;
}

}